[user]
	name = Naoya Yasuda
	email = 43776161+yanskun@users.noreply.github.com

[alias]
  b = branch
  bd = !"git branch -d $(git b | fzf --multi --height 50% --reverse --preview 'echo {} | xargs git log --color=always')"
  s = status
  sw = switch
  swp = !"git switch $(git b --format='%(refname:short)' | fzf --reverse --height 50% --preview 'git show --color=always {}')"
  co = checkout
  cop = !"git switch $(git b --format='%(refname:short)' | fzf --reverse --height 50% --preview 'git show --color=always {}')"
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
  lof = !"git log --oneline | fzf --height 50% --reverse --preview 'a={}; git show --color=always ${(@)${=a}[1]}' | awk '{print \"{{.url}}/commit/\"$1}' | xargs gh repo view --json url --template | xargs open"
  sync = !"git fetch -p && git branch --merged | grep -v '*' | xargs git branch -d"

[core]
  excludesfile = ~/.gitignore_global
  pager = less
  ignorecase = false
  editor = neovim
[pager]
	branch = cat
[pull]
	rebase = false
[ghq]
  root = ~/Projects
  user = yanskun
[init]
  defaultBranch = main
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
