[user]
	name = yasudanaoya
	email = 43776161+yasudanaoya@users.noreply.github.com

[alias]
  b = branch
  bd = !git branch -d $(git b | peco)
  bD = !git branch -D $(git b | peco)
  s = status
  co = checkout
  cop = !git checkout $(git b | peco)

[core]
  excludesfile = ~/.gitignore_global
  pager = less
  ignorecase = false
  editor = neovim
[pager]
	branch = cat
[pull]
	rebase = false
[ghq]
  root = ~/Projects
[init]
  defaultBranch = main
