[user]
	name = Naoya Yasuda
	email = 43776161+yanskun@users.noreply.github.com

[alias]
  b = branch
  bd = !git branch -d $(git b | fzf --multi)
  s = status
  sw = switch
  swp = !"git switch $(git b --format='%(refname:short)' | fzf --preview 'git show --color=always {}')"
  co = checkout
  cop = !"git switch $(git b --format='%(refname:short)' | fzf --preview 'git show --color=always {}')"
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
  lof = !"git log --oneline | fzf --preview 'a={}; git show ${(@)${=a}[1]}'"

[core]
  excludesfile = ~/.gitignore_global
  pager = less
  ignorecase = false
  editor = neovim
[pager]
	branch = cat
[pull]
	rebase = false
[ghq]
  root = ~/Projects
  user = yanskun
[init]
  defaultBranch = main
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
