node      20.10.0
deno      1.24.3
terraform 1.3.7
go        1.19.5
lua       5.4.4
yarn      1.22.19
flutter   3.0.0-stable
ruby      3.2.0
rust      latest
dart      2.17.1
zig       0.10.1
direnv    2.32.3
python    3.11.4
