export DOTDIR={{ .dotdir }}
export ZDOTDIR={{ .zdotdir }}

export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

export LANG=en_US.UTF-8

export EDITOR=neovim
export PF_INFO="ascii os host kernel uptime pkgs memory shell editor wm de palette"
