#!/bin/bash
# Hammerspoonは既存のdotfile.shと同じくディレクトリシンボリックリンク
if [ -d "$HOME/.hammerspoon" ] && [ ! -L "$HOME/.hammerspoon" ]; then
    rm -rf "$HOME/.hammerspoon"
fi
ln -snf "{{ .chezmoi.sourceDir }}/dot_hammerspoon" "$HOME/.hammerspoon"
